include LICENSE.txt
include README.md
include pyproject.toml

prune *.egg*
prune .github
prune docs/_build
prune build

exclude  *.egg*
exclude .gitignore
exclude .readthedocs.yaml

global-exclude *.pyc *.o
